body {
  margin: 10px;
  background-color: #e6eff2;
}

nav {
  border-top: 8px solid #173f80;
  border-bottom: 1px solid #173f80;
  padding: 20px;
  text-align: center;
  background-color: #e6eff2;
}

.logo {
  width: 330px;
}

.sitemotto {
  color: #de2f23;
  font-family: Basier, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}



header {
    font-family: Basier, Arial, sans-serif;
    font-size: 20px;
}

h1 {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 46px;
  color: #173f80;
  text-align: center;
}

h2{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;
  color:#173f80;

}

p{
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
}


.byline {
  font-weight: bold;
  color:#173f80;
}

.tdpad {
  padding: 15px;
}

article > p {
  font-family: Pensum, "Times New Roman", serif;
  font-size: 20px;
}

.story_image {
  width: 100%;
}

.caption {
  color: gray;
  font-size: 14px;
  margin-top: 5px;
}

footer {
  margin-top: 30px;
  font-family: Basier, Arial, sans-serif;
}

footer > p {
  font-size: 14px;
  color: #666;
}

a {
  color: black;
}

a:hover {
  color: #717171;
  text-decoration-color: #ffcb04;
}

.card {
  margin-bottom: 15px;
  max-width: 550px;
  align-items: center;
}


.navbar-brand {
  color: #173f80;
}

.subhead{
  text-align: center;
}