body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.site-banner{
    background-color: black;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 8px;

}

.logo{
    width: 188px;
}

.article{
    max-width: 1200px;
    margin-left: 400px;
    margin-right: 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.story-header{
    font-family: 'Franklin Light';
  src: url('ITC_Franklin-Light.woff2') format('woff2');

}

h1{font-family: 'Postoni';
    src: url('PostoniWide-Bold.woff2') format('woff2');
    font-size: 46px;
    margin-bottom: 0px;
    font-weight: normal;
}

.news-section{
    font-family: 'Franklin Bold';
  src: url('ITC_Franklin-Bold.woff2') format('woff2');
  font-size: 14px;
  margin-top: 32px;
  

}

.deck{
    font-size: 20px;

}

.byline{
    font-size: 16px;
    margin-bottom: 2px;

}

.publish-date{
    font-size: 14px;
    margin-top: 0px;
    color: #666666;

}

.story-body{
    font: Georgia;
    font-size: 20px;
    line-height: 32px;
    max-width: 700px;

}

img{
    width: 100%;
}

.photo{

}

.photo-caption{
    color: #666666;
    font-size: 14px;
    margin-top: 0px;
    line-height: 18px;
    font-family: 'Franklin Light';
  src: url('ITC_Franklin-Light.woff2') format('woff2');

}

.story-footer{
    max-width: 700px;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;

}

h3{
    font-family: 'Franklin Bold';
  src: url('ITC_Franklin-Bold.woff2') format('woff2');
  font-size: 16px;
  font-weight: normal;
}

h2{
    font-family: 'Postoni';
    src: url('PostoniWide-Bold.woff2') format('woff2');
    font-size: 28px;
    margin-bottom: 0px;
    font-weight: normal;
}

.footer-info{
    font-family: 'Franklin Light';
    src: url('ITC_Franklin-Light.woff2') format('woff2');
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-color: #e9e9e9
}
